* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(53, 59, 72,0.8), rgba(53, 59, 72,0.8)), url("./images/drum-set-1839383_1920.jpg");
    font-family: "Lato", sans-serif;
}

.keys {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keys__key {
    list-style: none;
    margin-right: 5px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 100px;
    text-transform: uppercase;
    transition: all 0.1s;
    padding-bottom: 5px;
    cursor: pointer;
}

kbd {
    display: block;
    font-size: 3rem;
}
.sound {
    font-size: .8rem;
    color: rgba(248, 197, 55, 0.5);
    cursor: context-menu;
}

.playing {
    color: #fbc531;
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 5px rgba(248, 197, 55, 0.5);
}

.social {
    display: flex;
    flex-direction: column-reverse;
    position: absolute;
    right: 5px;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
}

.social__icon {
    color: #fff;
    transition: .3s;
}

.social__icon:hover {
    color: #fbc531;
    transform: scale(1.1);
}


footer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

footer h2 {
    color: #fff;
    font-size: 1rem;
}

footer h2 a {
    color: #fbc531;
}

@media only screen and (max-width: 1100px) {
    .keys {
        flex-wrap: wrap;
    }
  }

  .keys__key{
    margin-top: 5px;
  }

  @media only screen and (max-width: 720px) {
    .keys {
        flex-wrap: wrap;
        justify-content: center;
    }
    .keys__key{
        margin-top: 5px;
        width: 80px;
      }
      footer{
        position: absolute;
        bottom: 5px;
        left: 5%;
        transform: translateX(0%);
      }
      footer h2 {
        color: #fff;
        font-size: .5rem;
    }
  }
  @media only screen and (max-width: 370px) {
    .keys {
        flex-wrap: wrap;
    }
    .keys__key{
        margin-top: 5px;
        width: 80px;
      }
      footer{
        position: absolute;
        bottom: 5px;
        left: 5%;
        transform: translateX(0%);
      }
      footer h2 {
        color: #fff;
        font-size: .5rem;
    }
  }