* {
    margin: 0;
    padding: 0;
}

.wrapper {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(53, 59, 72,0.8), rgba(53, 59, 72,0.8)), url("./images/drum-set-1839383_1920.jpg");
}

.keys {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.keys__key {
    list-style: none;
    margin-right: 5px;
    text-align: center;
    border: 2px solid #000;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    width: 100px;
    text-transform: uppercase;
    transition: all 0.1s;
}

kbd {
    display: block;
    font-size: 3rem;
}
.sound {
    font-size: .8rem;
    color: rgba(248, 197, 55, 0.5);
}

.playing {
    color: #fbc531 !important;
    transform: scale(1.1);
    box-shadow: 0px 0px 25px 5px rgba(248, 197, 55, 0.5);
}
